/* ======== COMMON STYLES ======== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}


button {
    cursor: pointer;    
}

button:hover,
button:focus {
    color: #4D5AE5;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;    
    padding-left: 15px;
    padding-right: 15px;
}

/* ======== /COMMON STYLES ======== */

/* ======== HEADR STYLES ======== */
.page-header {    
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 
    0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08)
}

.page-navigation {
    display: flex;
    align-items: center;    
}

.container-header {    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu  {
    display: flex;
    gap: 40px;
}

.list {
    display: flex;
    column-gap: 40px;    
}

.menu-item {    
    column-gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-link {    
    padding: 24px 0;
    
}

.logotype {
    margin-right: 76px;    
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;    
}

.span-headr {
    color: #2e2f42;
}

.menu-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    transition: color 250ms linear;
}

.menu-link-studio {
    padding: 24px 0;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.contacts {
    font-style: normal;
}

.list-contacts {
    gap: 40px;
}

.contacts-link {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;        
}

.menu-item-stodio:hover .menu-link-studio {
    transform: translateY(0%);
}

/* ======== /HEADR STYLES ======== */

/* ======== BODE STYLE =========== */
.hero {    
    max-width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0px;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)), 
        url(../images/hero/people-office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;    
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button-mail {
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-mail:hover,
.button-mail:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.our-benefits {
    padding: 120px 0;
}

.imag-benefits {
    column-gap: 24px;
    justify-content: center;
    margin-bottom: 8px;
}

.icon-benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 100px;
    width: 264px;
    height: 112px;
    border: 1px solid #8E8F99;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.list-benefits {    
    gap: 24px;
}

.our-list {
    width: calc((100% - 72px) / 4);
}

.title-benefits {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    background-color: #FFFFFF;
}

.benefits {
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.benefits-text { 
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.imag-column-benefits {
    fill: #2E2F42;         
}

.our-team {
    padding-top: 120px;
    padding-bottom: 120px;    
    background-color: #F4F4FD;
}

.title-team {    
    margin-bottom: 72px;    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;        
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;        
}

.colums-team {    
    gap: 24px;     
}

.team-name {
    padding: 32px 0;
}

.team-personal {
    width: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team {    
    text-align: center;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-text {    
    text-align: center;    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;  
}

.social-list {
    gap: 24px;
    justify-content: center;
    margin-top: 8px;    
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;      
    padding: 12px;
    border-radius: 50%;
    background-color: #4D5AE5;
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
}

.social-list-icon {
    transition: stroke 250ms linear;
    fill: #F4F4FD;    
}

.social-list-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio {
padding-top: 120px;
padding-bottom: 120px;
}

.title-portfolio {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;     
}

.portfolio {
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;      
}

.colums-portfolio {
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}

.section-portfolio {        
    width: calc((100% - 48px) / 3);   
}

.section-portfolio:hover,
.section-portfolio:focus {
    box-shadow:
            0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-wrater {
    position: relative;
    overflow: hidden;
}

.section-portfolio:hover .text-overlay {
transform: translateY(0%);
}

.border-portfolio {
    border: 1px solid #E7E9FC;
    padding: 32px 16px;
    border-top: none;
}

/* ======== /BODE STYLE =========== */

/* ======== FOOTER ============= */
.logo-span {
    color: #4D5AE5;
}

.mail-footer {
    background-color: #2E2F42;    
    padding: 100px 0;
    
}

.footer-logo {
    margin-right: 120px;
}

.logotype-footer {
    display: inline-block;    
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;     
}

.span-studio {
    color: #F4F4fD;
}

.footer-text {    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-top: 17.5px;   
    max-width: 264px;    
    color: #F4F4FD;
}

.text-social-media {
    margin-bottom: 16px;    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-social-icon {
    display: flex;
    gap: 16px;    
}

.footer-sosial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: #F4F4FD;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list { 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;    
}

.footer-sosial:hover,
.footer-sosial:focus {
    background-color: #31D0AA;    
}

.footer-social-link {
    width: 24px; 
    height: 24px;
}

.wrap-footer {
    display: flex;    
    align-items: baseline;
}

.footer-form {
    margin-bottom: 16px;
    margin-left: 80px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-form-customer {
    display: flex;
    gap: 24px;
    margin-left: 80px;
}

.footer-form-email {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

input::placeholder {
    color: #ffffff;
    opacity: 1;
}

.footer-button-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;    
    cursor: pointer;    
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #4D5AE5;
}

.footer-send-button {
    margin-left: 16px;    
}

.footer-button-submit:hover,
.footer-button-submit:focus {
    color: #ffffff;
}

/* ======== /FOOTER ============= */

/* ======== BACKDROP STYLES ============= */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;    
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* ======== /BACKDROP STYLES ============= */

/* ======== MODAL WINDOW STYLES ============= */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    padding: 0px;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-close-btn:hover {
    background-color: #404bbf;
    border: none;
}

.model-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn-icon {    
    fill: #2f2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-close-btn:hover .modal-close-btn-icon,
.model-close-btn:focus .modal-close-btn-icon {
    fill: #FFFFFF;
}

.contacts-form-discription {
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

/* ======== /MODAL WINDOW STYLES ============= */


/* ======== CONTACTS FORM STYLES ============= */
.contacts-form-field-wrapper {
    margin-bottom: 8px;
}

.contacts-form-field-lable {
    display: block;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;    
    font-weight: 400;
    line-height: 1.17;    
    letter-spacing: 0.04em;
    color: #8E8F99;    
}

.contacts-form-unput-wrapper {
    position: relative;
    margin-bottom: 8px;
}

.contacts-form-name {
    padding-left: 38px;
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-name:focus {
    outline-color: transparent;
    outline-offset: 6px;
    border-color: #4d5ae5;
}

.contacts-form-name:focus + .contacts-form-field-icon {
    fill: #4d5ae5;
}

.contacts-form-field-icon {
    position: absolute;    
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-field-wrapper-textarea {
    margin-bottom: 16px;
}

.contacts-form-message {
    padding: 8px 16px;
    width: 360px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;  
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    background-color: transparent;
    outline: transparent;
    color: rgba(46, 47, 66, 0.40);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-checkbox-lable {       
    font-family: 'Roboto', san-serif;
    font-size: 12px;        
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.contacts-form-message::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.contacts-form-message:focus {
    outline-color: transparent;
    outline-offset: 6px;
    border-color: #4D5AE5
}

.contacts-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.privacy-policy-link {    
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #4D5AE5;
}

.contacts-form-own-checkbox {
    display: inline-flex;    
    justify-content: center;
    align-items: center;    
    width: 16px;
    height: 16px;
    cursor: pointer;
    border-radius: 2px;      
    border: 1px solid rgba(46, 47, 66, 0.40);
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-checkbox:checked
+ .contacts-form-checkbox-lable
.contacts-form-own-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.contacts-form-checkbox:focus
+.contacts-form-checkbox-lable 
.contacts-form-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);    
}

.contacts-form-btn {
    display: block;
    align-items: flex-start;
    gap: 10px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;   
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    align-items: flex-start;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    text-align: center;        
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-form-btn:focus,
.contacts-form-btn:hover {
    color: #ffffff
}

/* ======== /CONTACTS FORM STYLES ============= */